<md-toolbar md-theme="fight" class="md-hue-2" ng-class="{'md-primary': group().code == 'A', 'md-accent': group().code == 'B'}">
    <div class="md-toolbar-tools">
        <span class="md-flex">{{'fights.titles.group' | translate}} {{group().code}}</span>
    </div>
</md-toolbar>

<md-content flex>
    <md-list>
        <md-list-item ng-repeat="player in group().players | orderBy:['-active', 'fullName']" ng-class="{'player-inactive': !player.active}" class="player-row">
            <p><span class="trigram">{{player.trigram}}</span> / {{player.fullName}}</p>
            <md-switch class="md-secondary" ng-disabled="readOnly()" ng-change="save()" ng-model="player.active"></md-switch>
        </md-list-item>
    </md-list>
</md-content>

<md-autocomplete
        ng-hide="readOnly()"
        placeholder="{{ 'fights.placeholders.addPlayer' | translate}}"
        md-search-text="searchString"
        md-items="player in findPlayers(searchString)"
        md-item-text="player.fullName"
        md-selected-item="newPlayer"
        md-selected-item-change="addPlayer()"
        md-no-cache="true">
    <span md-highlight-text="searchString">{{player.fullName}}</span>
</md-autocomplete>

