<!DOCTYPE html>
<html ng-app="ajast" ng-cloak>
<head>
    <title>XIVRP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/v0.0.1f.min.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/min/v0.0.1f.min.js"></script>
    <!--SCRIPTS END-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="MainCtrl" layout='row' md-swipe-left="closeMenu()" md-swipe-right="openMenu()">

<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-menu" md-component-id="menu" md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-primary">
        <a href="/" class="logo-link">
                  <span class="md-toolbar-tools" layout-align="left center" flex>
                    <img alt="logo" class="logo" src="/images/icons/dice.svg" />
                      <span class="logo-title">XIVRP</span>
                  </span>
        </a>
    </md-toolbar>
    <md-content role="navigation" flex>
        <h3>Naviguer</h3>
        <md-list>
            <md-list-item ng-click="link.action ? link.action() : to(link.url)" ng-hide="link.hide()" ng-repeat="link in links">
                {{link.text}}
                <md-divider></md-divider>
            </md-list-item>
            <% if (req.isAuthenticated()) { %>
                <md-list-item ng-click="to('/logout')">Déconnexion</md-list-item>
            <% } else { %>
                <md-list-item ng-click="to('/login')">Connexion</md-list-item>
            <% } %>
        </md-list>
        <div class="contextual-links" ng-if="contextualLinks.links">
            <h3>{{contextualLinks.title}}</h3>
            <md-list layout="column">
                <md-list-item ng-click="link.action ? link.action() : to(link.url)" ng-repeat="link in contextualLinks.links" ng-hide="link.hide()" flex>
                    {{link.text}}
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</md-sidenav>

<div layout="column" role="main" flex>
    <md-toolbar class="md-primary" hide show-gt-lg>
        <div class="md-toolbar-tools">
            <span>{{page.title}}</span>
        </div>
    </md-toolbar>
    <md-toolbar class="md-primary" md-scroll-shrink hide-gt-lg>
        <div class="md-toolbar-tools">
            <span>{{page.title}}</span>
            <span flex></span>
            <md-button ng-click="openMenu()" aria-label="Paramètres"><img src="/images/icons/hamburger.svg"/></md-button>
        </div>
    </md-toolbar>
    <md-content class="main-content" flex>
        <%- body %>
    </md-content>
</div>
<!--TEMPLATES-->

<!--TEMPLATES END-->
</body>
</html>
