<!DOCTYPE html>
<html ng-app="ajast">
  <head>
    <title>XIVRP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="min/v0.0.1.min.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="min/v0.0.1.min.js"></script>
    <!--SCRIPTS END-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller="MainCtrl" layout='row' md-swipe-left="closeMenu()" md-swipe-right="openMenu()">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 main-menu" md-component-id="menu" md-is-locked-open="$mdMedia('gt-lg')">
      <md-toolbar class="md-primary">
          <a href="/" class="logo-link">
                  <span class="md-toolbar-tools" layout-align="left center" flex>
                    <img alt="logo" class="logo" src="/images/icons/dice.svg" />
                      <span class="logo-title">XIVRP</span>
                  </span>
          </a>
      </md-toolbar>
      <md-content role="navigation" flex>
          <h3>Naviguer</h3>
          <md-list layout="column">
              <md-item ng-repeat="link in links" flex>
                  <div layout="row" flex>
                      <md-button flex ng-href="{{link.url}}" ng-click="link.action()" ng-hide="link.hide()" flex>{{link.text}}</md-button>
                  </div>
                  <md-divider></md-divider>
              </md-item>
              <md-item flex>
                  <div layout="row" flex>
                      <% if (req.isAuthenticated()) { %>
                      <md-button flex ng-href="/logout" flex>Déconnexion</md-button>
                      <% } else { %>
                      <md-button flex ng-href="/login" flex>Connexion</md-button>
                      <% } %>
                  </div>
              </md-item>
          </md-list>
          <div class="contextual-links" ng-if="contextualLinks.links">
              <h3>{{contextualLinks.title}}</h3>
              <md-list layout="column">
                  <md-item ng-repeat="link in contextualLinks.links" ng-hide="link.hide()" flex>
                      <div layout="row" flex>
                          <md-button flex ng-href="{{link.url}}" ng-click="link.action()" flex>{{link.text}}</md-button>
                      </div>
                      <md-divider ng-if="!$last"></md-divider>
                  </md-item>
              </md-list>
          </div>
      </md-content>
  </md-sidenav>

  <div layout="column" role="main" flex>
      <md-toolbar class="md-primary" hide show-gt-lg>
          <div class="md-toolbar-tools">
              <span>{{page.title}}</span>
          </div>
      </md-toolbar>
      <md-toolbar class="md-primary" md-scroll-shrink hide-gt-lg>
          <div class="md-toolbar-tools">
              <span>{{page.title}}</span>
              <span flex></span>
              <md-button ng-click="openMenu()" aria-label="Paramètres"><img src="/images/icons/hamburger.svg"/></md-button>
          </div>
      </md-toolbar>
      <md-content class="main-content" flex>
          <%- body %>
      </md-content>
  </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
