<% if (req.cookies.lang) { req.setLocale(req.cookies.lang); } %>
<!DOCTYPE html>
<html ng-app="ajast" ng-cloak ng-controller="MainCtrl">
<head>
    <title ng-bind="page.title ? (page.title | translate) + ' - XIVRP' : 'XIVRP'">XIVRP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="fragment" content="!">
    <meta name="language" content="fr-FR" />
    <meta charset="UTF-8">
    <meta name="description" content="<%= typeof metaDesc == 'undefined' ? '' : '' %>">
    <base href="/">
    <!--STYLES-->
    <link rel="stylesheet" href="/concat/production.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/concat/production.js"></script>
    <!--SCRIPTS END-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
</head>

<body layout='row' md-swipe-left="closeMenu()" md-swipe-right="openMenu()">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 main-menu" md-component-id="menu" md-is-locked-open="$mdMedia('gt-lg')">
        <md-toolbar class="md-primary">
            <a href="/" class="logo-link">
                      <span class="md-toolbar-tools" layout-align="left center" flex>
                        <img alt="logo" class="logo" src="/images/icons/dice.svg" />
                          <span class="logo-title">XIVRP</span>
                      </span>
            </a>
        </md-toolbar>
        <md-content role="navigation" flex>
            <h3>{{'menu.mainTitle' | translate}}</h3>
            <md-list>
                <md-list-item ng-click="link.action ? link.action() : to(link.state, link.stateParams)" ng-hide="link.hide()" ng-repeat="link in links">
                    {{link.text | translate}}
                    <md-divider></md-divider>
                </md-list-item>
                <% if (req.isAuthenticated()) { %>
                    <md-list-item ng-click="url('/logout')"><a ng-href="/logout">{{'menu.link.logout' | translate}}</a></md-list-item>
                <% } else { %>
                    <md-list-item ng-click="to('login')">{{'menu.link.login' | translate}}</md-list-item>
                <% } %>
            </md-list>
            <div class="contextual-links" ng-if="contextualLinks.links">
                <h3>{{contextualLinks.title | translate}}</h3>
                <md-list layout="column">
                    <md-list-item ng-click="link.action ? link.action() : to(link.state, link.stateParams)" ng-repeat="link in contextualLinks.links" ng-hide="link.hide()" flex>
                        {{link.text | translate}}
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </md-sidenav>

    <div layout="column" role="main" flex>
        <md-toolbar class="md-primary" hide show-gt-lg>
            <div class="md-toolbar-tools">
                <h1>{{page.title | translate}}</h1>
            </div>
        </md-toolbar>
        <md-toolbar class="md-primary" md-scroll-shrink hide-gt-lg>
            <div class="md-toolbar-tools">
                <h1>{{page.title | translate}}</h1>
                <span flex></span>
                <md-button ng-click="openMenu()" aria-label="Paramètres"><img src="/images/icons/hamburger.svg"/></md-button>
            </div>
        </md-toolbar>
        <md-content class="main-content" flex>
            <div ui-view></div>
        </md-content>
    </div>
<!--TEMPLATES-->

<!--TEMPLATES END-->
<script type="text/javascript">
    app.config(['$translateProvider', function ($translateProvider) {
        <% if (req.cookies.lang) { %>
            $translateProvider.preferredLanguage('<%= req.cookies.lang %>');
        <% } else { %>
            $translateProvider.preferredLanguage('<%= req.getLocale() %>');
        <% } %>
    }]);
</script>
</body>
</html>
