<% if (req.cookies.lang) { req.setLocale(req.cookies.lang); } %>
<md-content ng-init="fights = <%= fights %>; myFights = <%= myFights %>; page.title = '<%= __(title) %>'" flex>

    <div layout="column" layout-margin >
        <% if (req.isAuthenticated()) { %>
        <md-whiteframe class="md-whiteframe-z1" flex>
            <md-toolbar class="md-accent">
            <span class="md-toolbar-tools">
                <span>{{'fights.titles.myFights' | translate}}</span>
            </span>
            </md-toolbar>
            <md-content layout="row" layout-wrap>
                <md-button class="md-primary md-raised" ng-click="to('fightShow', {id: fight.shortid})" flex-gt-lg="15" flex-sm="40" flex-md="30" flex-lg="20" ng-repeat="fight in myFights">#{{fight.shortid}}</md-button>
                <md-button class="md-primary md-raised" ng-click="to('fightNew')" flex-gt-lg="15" flex-sm="40" flex-md="30" flex-lg="20">{{'fights.buttons.new' | translate}}</md-button>
            </md-content>
        </md-whiteframe>
        <% } %>

        <md-whiteframe class="md-whiteframe-z1" flex>
            <md-toolbar class="md-accent">
            <span class="md-toolbar-tools">
                <span>{{'fights.titles.currentFights' | translate}}</span>
            </span>
            </md-toolbar>
            <md-content layout="row" layout-wrap>
                <md-button class="md-primary md-raised" ng-click="to('fightShow', {id: fight.shortid})" flex-gt-lg="15" flex-sm="40" flex-md="30" flex-lg="20" ng-repeat="fight in currentFights = (fights | filter:{time: {hasStarted: true, isFinished: false}})">#{{fight.shortid}}</md-button>
                <md-content ng-hide="currentFights.length" class="md-padding">
                    {{'fights.notice.noCurrentFights' | translate}}
                </md-content>
            </md-content>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z1" flex>
            <md-toolbar class="md-accent">
            <span class="md-toolbar-tools">
                <span>{{'fights.titles.oldFights' | translate}}</span>
            </span>
            </md-toolbar>
            <md-content layout="row" layout-wrap>
                <md-button class="md-primary md-hue-1" ng-click="to('fightShow', {id: fight.shortid})" flex-gt-lg="15" flex-sm="40" flex-md="30" flex-lg="20" ng-repeat="fight in fights | filter:{time: {isFinished: true}}">#{{fight.shortid}}</md-button>
            </md-content>
        </md-whiteframe>
    </div>

</md-content>