<div ng-controller="PjCtrl" ng-init="init(<%= archetypes %>, <%= fight %>);">
    <div class="gap"></div>
    <time-bar class="height-transition"></time-bar>
    <div class="gap"></div>
    <time-history class="height-transition" ng-model="actions"></time-history>
</div>