<div class="home-title-block">
    <h1 class="home-title-text">XIV<span class="home-title-text-accent">RP</span></h1>
</div>
<md-content layout="row" layout-sm="column">
    <div flex-gt-sm="33" class="home-perk" layout="column" ng-click="to('/personnages')">
        <span class="perk-icon"><img src="/images/icons/book.png" alt="Livre" /></span>
        <h3 class="perk-title">{{'home.perk.characters.title' | translate}}</h3>
        <span class="perk-desc">{{'home.perk.characters.subtitle' | translate}}</span>
    </div>
    <div flex-gt-sm="33" class="home-perk" layout="column" ng-click="to('/compagnies-libres')">
        <span class="perk-icon"><img src="/images/icons/home.png" alt="Maison" /></span>
        <h3 class="perk-title">{{'home.perk.freeCompanies.title' | translate}}</h3>
        <span class="perk-desc">{{'home.perk.freeCompanies.subtitle' | translate}}</span>
    </div>
    <div flex-gt-sm="33" class="home-perk" layout="column" ng-click="to('/combats')">
        <span class="perk-icon"><img src="/images/icons/fight.png" alt="Bouclier" /></span>
        <h3 class="perk-title">{{'home.perk.fights.title' | translate}}</h3>
        <span class="perk-desc">{{'home.perk.fights.subtitle' | translate}}</span>
    </div>
</md-content>

<% if (!req.isAuthenticated()) { %>
<md-content layout="column" layout-align="center center">
    <div flex-gt-sm="50" flex-sm class="home-login">
        <div class="home-login-title">{{'home.login.message' | translate}}</div>
        <md-button class="md-primary home-login-button" ng-href="/login">{{'menu.link.login' | translate}}</md-button>
    </div>
</md-content>
<% } %>

<md-content layout="column" layout-align="center center">
    <div flex-gt-sm="50" flex-sm class="home-login">
        <% if (req.cookies.lang == 'fr' || (req.getLocale() == 'fr' && req.cookies.lang === undefined)) { %>
            <md-button class="md-primary home-login-button" ng-href="/lang/en">{{'home.switch.en' | translate}}</md-button>
        <% } else { %>
            <md-button class="md-primary home-login-button" ng-href="/lang/fr">{{'home.switch.fr' | translate}}</md-button>
        <% }%>
    </div>
</md-content>

<script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "WebSite",
       "name" : "XIVRP",
       "alternateName" : "Final Fantasy XIV RP",
       "url" : "http://xivrp.com"
    }
</script>